@import "tailwindcss";


body{
  @apply bg-gray-100 px-1 py-1 md:py-2
}

.holder{
  @apply flex flex-row justify-center items-center gap-2 md:gap-3
}
.holder > p{
  @apply text-gray-600 text-sm md:text-base
}

.top-address{
  @apply  w-2/3 md:w-full mx-auto text-center
}

.details {
  @apply w-full h-full flex flex-col gap-1 p-3 md:p-2 bg-white rounded-lg shadow-md
}
.details > h2 {
  @apply text-[#004d4d] text-base md:text-lg font-bold uppercase
}
.details > p {
  @apply text-gray-700 text-xs md:text-sm
}
.details > p span {
  @apply font-semibold text-base md:text-base
}

